@import '@fontsource/roboto';

/*
==========================
      Variables
==========================
*/
:root {
  --primary-color: #007F5F;
  --accent_color: #FFA500;
}

/*
==========================
      Global styles
==========================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

html {
  font-family: 'Roboto';
  font-size: 17px;
  max-width: 100%;
  height: 100%;
}

main {
  min-height: 55vh;
  margin: 0;
}


.main {
  flex: 1;
  width: 90%;
  margin: 5rem auto 0 auto;
}

.button {
  background-color: #fff;
  color: var(--primary_color);
  border: 2px solid var(--primary_color);
}
.button:hover {
  background-color: var(--primary_color);
  color: #fff;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

/*
==========================
    NavMenu.js styles
==========================
*/

.navbar-container {
  background-color: #e8dfdf;
  margin-bottom: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 6rem;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
  
.page-title-wrapper-outer {
  background-color: var(--primary-color);
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.page-title-wrapper-inner {
  color: #fff;
  letter-spacing: 15px;
  margin-top: -10px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-flow: row;
}

.page-title {
  margin-left: 20px;
  margin-top: 10px;
}
  
.navigation-link-wrapper-outer {
  width: 80%;
  margin-left: 18%
}

.navigation-link {
  text-decoration: none;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px 30px !important;
  margin: 0 35px 0 5px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}
  
.navigation-link:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: ease-in-out .5s;
}
  
.login-wrapper-outer {
  display: flex;
  position: absolute;
  left: 89.5%;
}

/*
==========================
      Home.js styles
==========================
*/


/*
==========================
      Card styles
==========================
*/

.cardpage_location_title{
  font-size: 26px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 5px;
  }

.WasteFractionOverview{
  font-weight: bold;
  font-size: 26px;
  margin-left: 15px;
}

.cardpage_title_div{
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}


.cardpageIcon {
  margin-left: 7.2rem;
  margin-top: 5px;
  height: 100%;
  width: auto;
}

.card_container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.card {
  width: 25rem;
  text-align: center;
  margin: 10px;
}

.card-link {
  padding: 10px;
  text-decoration: none;
}

.wastetype {
  width: 16rem !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
  border: none !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  margin-bottom: 1rem !important;
  color: white !important;
  margin-bottom: 20px;
}

.card-img-top {
  width: 9rem;
  margin: 0.5rem auto;
  display: 'block';
}

.pickup_value {
  align-items: center;
  justify-content: center;
  max-width: 21rem;
}

.avg_pickup_text {
  font-weight: bold;
}

.pickup_text {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  max-width: 21rem;
}

.bins_text {
  font-weight: bold;
}

.avg_fill {
  color: white;
}

.pickup {
  color: white;
}

.bins {
  color: white;
}


.Cardboard { 
  background-color: #BEA064;
  border: none;
}

.avg_fill.Cardboard{ 
  background-color: #bc905c;
  border: none;
}
.pickup.Cardboard{ 
  background-color: #b97f53;
  border: none;
}

.bins.Cardboard{ 
  background-color: #b66e4b;
  border: none;
}


.Dangerous { 
  background-color: #E20F1E;
  border: none

}

.avg_fill.Dangerous{ 
  background-color: #E6242B;
  border: none
}
.pickup.Dangerous{ 
  background-color: #EA3937;
  border: none
}

.bins.Dangerous{ 
  background-color: #EB4D4B;
  border: none
}


.Food { 
  background-color: #00A04B;
  border: none

}

.avg_fill.Food{ 
  background-color: #3BAF48;
  border: none
}
.pickup.Food{ 
  background-color: #59B746;
  border: none
}

.bins.Food{ 
  background-color: #76BE44;
  border: none
}

.General { 
  background-color: #141414;
  border: none

}

.avg_fill.General{ 
  background-color: #202523;
  border: none
}
.pickup.General{ 
  background-color: #262D2B;
  border: none
}

.bins.General{ 
  background-color: #2B3532;
  border: none
}


.Glass { 
  background-color: #10B795;
  border: none

}

.avg_fill.Glass{ 
  background-color: #1AA996;
  border: none
}
.pickup.Glass{ 
  background-color: #249A97;
  border: none
}

.bins.Glass{ 
  background-color: #2E8B98;
  border: none
}


.Metal { 
  background-color: #5A6E77;
  border: none

}

.avg_fill.Metal{ 
  background-color: #63808E;
  border: none
}
.pickup.Metal{ 
  background-color: #688999;
  border: none
}

.bins.Metal{ 
  background-color: #6C91A4;
  border: none
}

.Paper { 
  background-color: #0082BE;
  border: none

}

.avg_fill.Paper{ 
  background-color: #0F90B2;
  border: none
}
.pickup.Paper{ 
  background-color: #1697AC;
  border: none
}

.bins.Paper{ 
  background-color: #1D9DA5;
  border: none
}

.Plastic { 
  background-color: #961E82;
  border: none;
}

.avg_fill.Plastic{ 
  background-color: #9E227E;
  border: none;
}
.pickup.Plastic{ 
  background-color: #A6267A;
  border: none;
}

.bins.Plastic{ 
  background-color: #B52E72;
  border: none;
}




/*
==========================
ServiceAgreementsDropdown.js styles
==========================
*/
.dropdown {
  margin: 20px auto;
  width: 90%;
}

.accordion-button {
  background-color: var(--primary_color) !important;
  color: #fff !important;
}

/*
==========================
    Agreements.js styles
==========================
*/
.search_bar {
  border: 2px solid var(--primary_color);
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  padding: 20px;
  margin-bottom: 50px;
}
.search_bar:focus {
  outline: none !important;
  border: 2px solid var(--primary_color);
  box-shadow: none;
}

.search_bar_button {
  background-color: #fff;
  color: var(--primary_color);
  border: 2px solid var(--primary_color);
  margin-bottom: 50px;
}
.search_bar_button:hover {
  background-color: var(--primary_color);
  color: #fff;
}


/*
==========================
    Layout.js styles
==========================
*/
.information_page {
  display: flex;
  flex-flow: row;
}

.fraction_filter {
  width: 10%;
  margin: 90px 3rem;
}

.filter_options_wrapper {
  text-align: left;
  margin-top: 40px;
  margin-left: 60px;
}

.filter_graph_button {
  margin: 5px;
}

.graph_wrapper_inner {
  width: 50rem;
  height: auto;
  margin-left: 2rem;
  margin-top: 2rem;
}

.form-check-input[type=checkbox] {
  margin-left: 15px; 
  margin-right: 10px
}

input[type="date"] {
  background-color: #fafafa; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  padding: 8px 12px; /* Padding inside the input */
  font-size: 16px; /* Slightly larger font size for better readability */
  color: #333; /* Dark grey text for contrast */
  width: 100%; /* Full-width to fit its container */
  box-sizing: border-box; /* Border and padding included in width */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for focus effects */
}

input[type="date"]:focus {
  border-color: #0056b3; /* Change border color on focus for visual feedback */
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 0 2px rgba(0,86,179,0.2); /* Soft glow effect on focus */
}



/*
==========================
  FooterMenu.js styles
==========================
*/
.footer {
  background-color: var(--primary-color);
  margin-top: 3rem;
  color: #fff;
  width: 100vw;
  padding: 2% 3%;
  justify-content: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.footer-column {
  margin: 0 auto;
}

.footer-heading {
  font-size: 18px;
  font-weight: bold; 
  margin-bottom: 10px; 
}

.footer-link-item {
  text-decoration: none;
  color: #fff;
  font-size: 16px; 
  margin: 2.5px 0;
}

.footer-link-item:hover {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.footer-socials {
  display: flex;
  align-items: center;
}

.social-icon {
  font-size: 24px; 
  margin-right: 10px; 
  color: #fff;
  text-decoration: none; 
}









/*
==========================
  WasteBin in nav bar
==========================
*/
.trash-bin {
  position: relative;
  width: 37.5px; 
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 20px;
  margin-left: -30px;
  box-sizing: border-box;
}

.lid {
  position: absolute;
  top: 0;
  left: -12.5%;
  width: 125%;
  height: 12.5px; 
  background-color: #000;
}

.handle {
  width: 8px;
  height: 14px;
  transform: rotate(90deg);
  border-radius: 110px;
  border: 3px solid #000;
  border-right: 0;
  position: relative;
  top: -110%;
  left: 40%;
}

.slot {
  display: block;
  width: 6.3px;
  height: 22px; 
  background-color: #000;
  position: absolute;
  bottom: 40px;
  border-radius: 30px;
}

.first-slot {
  top: 18px;
  left: 10px; 
}

.last-slot {
  top: 18px;
  right: 10px; 
}


.wasteItButton {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.40);
  
}

/*
==========================
 WasteBinsOverview styles
==========================
*/

.card-wrapper {
  margin: 0;
  border-radius: 30px;
  text-align: left;
  background-color: #f5f5f5;
  box-shadow: -10px 30px 100px 0 rgba(33, 82, 75, 0.6);
  margin-bottom: 15rem;
}

/*
==========================
ServiceAgreementsDropdown.js styles
==========================
*/

.accordion-button.collapsed {
  border-radius: 25px !important;
  color: #fff !important;
  padding: 10px 30px 10px 10px; /* Why 40 here? Seems to work ok, but I am not sure it's optimal.*/
}

.accordion-button:not(.collapsed) {
  border-radius: 25px 25px 0px 0px !important;
  color: #fff !important;
  padding: 10px 30px 10px 10px; /* Why 40 here? Seems to work ok, but I am not sure it's optimal.*/
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-item {
  border-radius: 25px !important;
  outline-width: 100px !important;
  background: rgb(255, 255, 255);
}
.accordion {
  --bs-accordion-active-bg: rgba(255, 255, 255, 0) !important;
  --bs-accordion-btn-bg: rgba(255, 255, 255, 0) !important;
  --bs-accordion-border-color: rgba(255, 255, 255, 0)
}


/*
==========================
Waste Fraction and Bin Check Boxes.js styles
==========================
*/
.form-check-input {
  background-color: transparent !important; 
  border: 2px solid white !important;
  border-radius: 50% !important; 
  width: 20px; 
  height: 20px;
  position: relative;
  top: 6px;
  transform: translateY(-50%); 
}

/*
==========================
    Layout.js styles
==========================
*/
.information_page {
  display: flex;
  flex-flow: row;
}

.fraction_filter {
  width: 10%;
  margin: 90px 3rem;
}

.filter_options_wrapper {
  text-align: left;
  margin-top: 1rem;
}

.filter_graph_button {
  margin: 5px;
}

.graph_wrapper_inner {
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.form-check-input[type=checkbox] {
  margin-left: 15px; 
  margin-right: 10px
}

input[type="date"] {
  background-color: #fafafa; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  padding: 8px 12px; /* Padding inside the input */
  font-size: 16px; /* Slightly larger font size for better readability */
  color: #333; /* Dark grey text for contrast */
  width: 100%; /* Full-width to fit its container */
  box-sizing: border-box; /* Border and padding included in width */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for focus effects */
}

input[type="date"]:focus {
  border-color: #0056b3; /* Change border color on focus for visual feedback */
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 0 2px rgba(0,86,179,0.2); /* Soft glow effect on focus */
}
